*{
    margin: 0px;
    padding: 0px;
    
    background-position:center top;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;

}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    
}
.main {   
    flex: 70%;
    padding: 100px;
    font-size: 25px;
  }
 
  #content
  {
  width:742px;
  clear:both;
  }
  
  #content .content_top
  {
  background-image:url(content_top.png);
  background-repeat:no-repeat;
  height:82px;
  width:742px;
  font-family: 'Poppins', sans-serif;
  }
  
  #content .content_top h1
  {
  padding-top:23px;
  text-align:center;
  font-size:32px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  }
  
  
  #content .content_instance
  {
  width:742px;
  height:250px;
  clear:both;
  background-color: #5d4954;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  }
  
  #content .content_instance_big h2
  {
  font-size:26px;
  color:#000000;
  padding-left:10px;
  padding-right:10px;
  
  }
  
  #content .content_instance_big p
  {
  font-size:16px;
  color:#000000;
  padding-left:10px;
  padding-right:10px;
  }
  
  a img
  {
  border:none;
  }
  
  #content .content_instance 
  {
      margin: 10px 10px 10px 100px;

  }
  
  #content .content_instance img
  {
  width:300px;
  height:177px;
  margin-top:30px;
  margin-bottom:40px;
  margin-left:30px;
  margin-right:30px;
  float:left;
  clear:none;
  }
  
  #content .content_instance .content_right
  {
  margin-top:50px;
  width:385px;
  float:left;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  }
  #content .content_instance .content_right p
  {
  font-size:20px;
  line-height:25px;
  color:#000000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  }
  
  #content .content_instance  h2
  {
  color:#000000;
  padding-bottom:7px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  }
 

#content .content_right a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20;
    margin-top:0px;
    margin-bottom: 10px;
  width:385px;
  float:left;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
    
}

  .background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    z-index: -1;
  }
  #content .content_instance:nth-child(2){
      height: 329px;
  }
  #content .content_instance:nth-child(3) img{
      margin-left: 70px;
  }

  #content .content_instance:nth-child(2) img{
    margin-top: 73px;
}

#content .content_instance:nth-child(4) img{
    margin-right: 70px;
}
#content .content_instance:nth-child(5) img{
    margin-right: 70px;
}